<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BUDGET
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let m of months;let i = index" (click)="monthSelect(i)">
      <ion-label style="font-family: 'Times New Roman', Times, serif">
        <div style="font-size:1.5rem;">{{ m }}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>