<div class="budgetViewModal">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="close()">
        <ion-icon size="large" name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>
        {{ monthNM }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="bottomPadding">
    <ion-card>
      <ion-card-header>
        <ion-label style="font-weight: bold;font-size: 1.5rem;">Budget: ${{ budgetTotal }}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let item of incomingArray;"> 
        <ion-label style="font-family: 'Times New Roman', Times, serif;color:green;">
          <div style="font-size:.7rem;">{{ item.date | date: 'MMM/dd/yyyy'}}</div>
          <div style="float:left;font-size: 1.5rem;"> {{ item.title }} </div>
          <div style="float:right;font-size: 1.5rem;"> $ {{ item.amount }} </div>
        </ion-label>
      </ion-item>
      <ion-item style="font-weight: bold;font-size: 1.5rem;float: right;">
        <ion-label *ngIf="incomingArray.length > 0" >Total: ${{ incomingTotal}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let item of outgoingArray;"> 
        <ion-label style="font-family: 'Times New Roman', Times, serif;color: red;">
          <div style="font-size:.7rem;">{{ item.date | date: 'MMM/dd/yyyy'}}</div>
          <div style="float:left;font-size: 1.5rem;"> {{ item.title }} </div>
          <div style="float:right;font-size: 1.5rem;"> $ {{ item.amount }} </div>
        </ion-label>
      </ion-item>
      <ion-item style="font-weight: bold;font-size: 1.5rem;float: right;">
        <ion-label *ngIf="outgoingArray.length > 0">Total: ${{ outgoingTotal }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>